
<div class="login">
<h2>ENTER ANIMAL TYPE AND ZIP CODE</h2>

<form action="/search" method="get">
  <input type="text" name="type" placeholder="dog, cat, etc">
  <input type="text" name="zip_code" placeholder="33131, 90210">
  <button>SEARCH</button>
</form>

<h3>YOUR FUTURE FRIENDS LIST</h3>

  <% @friends.each do |friend| %>
    <ul style="list-style: none;">

      <li><option value="<%= friend.id %>"><%= friend.name %></option></li>

      <li><%= friend.sex %></li>

      <li><%= friend.mix %></li>

      <li><%= friend.zip_code %></li>

      <li><%= friend.species %></li>

  </form>
    </ul>

  <form action="/friends/<%= friend.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>delete</button>
  </form>
  <%end%>

</div>
